run = "npm run dev"
entrypoint = "src/app/page.tsx"
modules = ["nodejs-19"]

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80
