run = "npm run dev"
entrypoint = "src/app/page.tsx"
modules = ["nodejs-19"]

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 8078
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8083
externalPort = 8080

[[ports]]
localPort = 8138
externalPort = 6800

[[ports]]
localPort = 8295
externalPort = 9000

[[ports]]
localPort = 8453
externalPort = 5000

[[ports]]
localPort = 8549
externalPort = 8099

[[ports]]
localPort = 8612
externalPort = 3003

[[ports]]
localPort = 8705
externalPort = 5173

[[ports]]
localPort = 8717
externalPort = 6000

[[ports]]
localPort = 8773
externalPort = 8008

[[ports]]
localPort = 8805
externalPort = 3000

[[ports]]
localPort = 8866
externalPort = 4200
